<h1><%= @box.first['title'] %></h1>
<% @box.each do |week| %>
  <h2><%= Date.parse(week['date']).strftime('%a %d %b %Y') %></h2>
  <ul>
    <% week['items'].each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
<% end %>
